extends layout

block content
  br
  .container
    .row
      if user
        img(src=user.picture,alt="Facebook Image Profile",style="width:80px;height:80px")
        h2.p-3 Welcome #{user.nickname}
    .row
      h3 Create your Spotify Playlist.
  .container
    //- form
    form(action='/user/searchSpotify',method='post',id='searchForm')
      .form-group
        .input-group.mb-3
          input(name='searchTerms' type="text" class="form-control" placeholder="Type the name of the track you want to add to your Playlist")
          .input-group-append
            button.btn.btn-primary(type="submit") Search
            //- button#savePlaylist.btn.btn-success.ml-auto(onclick=`savePlaylist(${JSON.stringify(playlist)})`) Save Playlist
    #result
  .container
    .row
      .col-sm-6
        .row
          h4 Results
        .row
          ul#results.list-group
            if results
              each result in results
                li.list-group-item.d-flex.flex-row
                  .p-2
                    img(src=result.image)
                  .p-2
                    div
                      span name: #{result.name}
                    div
                      span artist: #{result.artist}
                    div
                      span release date: #{result.release_date}
                  .p-2.ml-auto
                    button.addSong.btn.btn-secondary.btn-sm(type="button", onclick=`addToPlaylist(${JSON.stringify(result)})`) Add Song
      .col-sm-6
        .row
          h4 Playlist
        .row
          ul#playlist.list-group.col
            if playlist
              each song, index in playlist
                li.list-group-item.d-flex.flex-row
                  .p-2
                    img(src=song.image)
                  .p-2
                    div
                      span name: #{song.name}
                    div
                      span artist: #{song.artist}
                    div
                      span release date: #{song.release_date}
                  .p-2.ml-auto
                    button.removeSong.btn.btn-danger.btn-sm(type="button", onclick=`removeSong(${index})`) Remove
  script.

    $(document).on("submit","#searchForm", function( event ) {
      event.preventDefault();
      var $form = $( this ),
        term = $form.find( "input[name='searchTerms']" ).val(),
        url = $form.attr( "action" );
      // Send the data using post
      var posting = $.post( url, { searchTerms: term } );
      // Put the results in results
      posting.done(function( data ) {
        var results = data.results
        $("#results").html(results.map(function(item,index){
          return renderResults(item,index)
        }))
      });
    });

    var renderResults = function(item,index){
      return `<li class="list-group-item d-flex flex-row">
        <div class="p-2">
          <img src=${item.image}>
        </div>
        <div class="p-2">
          <div><span>name: ${decodeURI(item.name)}</span></div>
          <div><span>artist: ${decodeURI(item.artist)}</span></div>
          <div><span>release date: ${item.release_date}</span></div>
        </div>
        <div class="p-2 ml-auto">
          <button class="addSong btn btn-secondary btn-sm" type="button" onclick='addToPlaylist(${JSON.stringify(item)})'>Add</button>
        </div>
      </li>`
    }

    var renderPlaylist = function(item,index){
      return `<li class="list-group-item d-flex flex-row">
        <div class="p-2">
          <img src=${item.image}>
        </div>
        <div class="p-2">
          <div><span>name: ${decodeURI(item.name)}</span></div>
          <div><span>artist: ${decodeURI(item.artist)}</span></div>
          <div><span>release date: ${item.release_date}</span></div>
        </div>
        <div class="p-2 ml-auto">
          <button class="removeSong btn btn-danger btn-sm" type="button" onclick="removeSong(${index})")">Remove</button>
        </div>
      </li>`
    }

    var playlistArray = !{playlistArray}

    var addToPlaylist = function(song){
      playlistArray.push(song);
      $(document).on("click",".addSong", function(){
        $("#playlist").html(playlistArray.map(function(item,index){
          return renderPlaylist(item,index)
          }))
      })
      savePlaylist(playlistArray);
    }
    var removeSong = function(index){
      playlistArray.splice(index,1);
      $(document).on("click",".removeSong", function(){
        $("#playlist").html(playlistArray.map(function(item,index ){return renderPlaylist(item,index)}))
      })
      savePlaylist(playlistArray);
    }
    var savePlaylist = function(playlist){
        var posting = $.post('/user/savePlaylist', JSON.stringify(playlist) );
        // Put the results in a div
        posting.done(function( data ) {
          console.log('playlist saved');
      })
    }
